<h2>ngFor</h2>
<ul>
  <li *ngFor="let person of people; let i = index">
    <b>{{ i + 1 }}</b>. {{person.firstName}} {{ person.lastName }}
  </li>
</ul>

<h2>ngIf</h2>
<p>{{ cities[0] }} is the capital of the US? -
  <span *ngIf="countries.US === cities[0]; then correct else incorrect"></span>
</p>
<p>
  {{ cities[2] }} is the capital of Canada? -
  <span *ngIf="countries.Canada === cities[2]; then correct else incorrect"></span>
</p>
<p>
  {{ cities[6] }} is the capital of Australia? -
  <span *ngIf="countries.Australia === cities[6]; then correct else incorrect"></span>
</p>
<ng-template #correct>Yes, it is.</ng-template>
<ng-template #incorrect>No, it isn't</ng-template>

<h2>ngSwitch</h2>
<ul [ngSwitch]="fruit">
  <li *ngSwitchCase="'banana'">Banana is yellow. Really helps when you're hungry.</li>
  <li *ngSwitchCase="'raspberry'">Raspberry is tops when you're feeling cold.</li>
  <li *ngSwitchDefault>The fruit doesn't exist in this variable.</li>
</ul>

<h2>Binding</h2>
<div><img src="{{ imageUrl }}"></div>
<div><img [src]="imageUrl"></div>
<div><img bind-src="imageUrl"></div>
<h3>Property binding</h3>
<p [innerHTML]="imageUrl"></p>
<h3>One more example</h3>
<p [hidden]="isHidden"></p>
<button [disabled]="isHidden">Super Functional Button</button>

<h2>Class binding & ngClass</h2>
<p>Learning should be intersting then you
  <span [class.emphasize]="isHasBackground">master</span> that.
</p>
<p>Programming isn't easy but you'll become an expert if you
  <span [ngClass]="importantWord">work</span> hard.
</p>

<h2>Styles binding & ngStyle</h2>
  <p>Lorem ipsum dolor sit
    <span [style.color]="isColorAvailable ? 'green' : 'black'">amet</span>,
    consectetur adipisicing elit.
  </p>
  <p>
    Lorem ipsum dolor sit amet,
    <span [ngStyle]="bigAndColored">consectetur</span> 
    adipisicing elit
  </p>
