<h2>Events</h2>
<h3>Mouse events</h3>
<div [ngClass]="theFrame">
  {{ theAction }}
</div>
<br>
<button (click)="somethingHappened($event.type)">Click this</button>
<button (mouseover)="somethingHappened($event.type)">Mouseover</button>
<button (mouseup)="somethingHappened($event.type)">Mouseup</button>
<button (mousedown)="somethingHappened($event.type)">Mousedown</button>
<button (dblclick)="somethingHappened($event.type)">Double Click</button>

<h3>Changing Properties With Events</h3>
<div *ngIf="frameStatus" [ngClass]="theFrame">
  {{ theFrameText }}
</div>
<br>
<button (click)="changeTheFrameText()">Change text</button>
<button (click)="toggleFrame()">Toggle the block</button>
