<h2>Events</h2>
<h3>Mouse events</h3>
<div [ngClass]="theFrame">
  {{ theAction }}
</div>
<br>
<button (click)="somethingHappened($event.type)">Click this</button>
<button (mouseover)="somethingHappened($event.type)">Mouseover</button>
<button (mouseup)="somethingHappened($event.type)">Mouseup</button>
<button (mousedown)="somethingHappened($event.type)">Mousedown</button>
<button (dblclick)="somethingHappened($event.type)">Double Click</button>

<h3>Changing Properties With Events</h3>
<div *ngIf="frameStatus" [ngClass]="theFrame">
  {{ theFrameText }}
</div>
<br>
<button (click)="changeTheFrameText()">Change text</button>
<button (click)="toggleFrame()">Toggle the block</button>

<h3>Keyboard and Input Events</h3>
<div [ngClass]="theFrame">
  {{ inputEventAction }}
</div>
<br>
<input type="text" (focus)="showInputAction($event.type)" placeholder="focus">
<br><br>
<input type="text" (blur)="showInputAction($event.type)" placeholder="blur">
<br><br>
<input type="text" (cut)="showInputAction($event.type)" placeholder="cut">
<br><br>
<input type="text" (copy)="showInputAction($event.type)" placeholder="copy">
<br><br>
<input type="text" (paste)="showInputAction($event.type)" placeholder="paste">
<br><br>
<input type="text" (keyup)="mirrorAction($event.target.value)" placeholder="mirror">
<br><br>
<div [ngClass]="theFrame">
  {{ mirrorText }}
</div>

<h3>ngModel & 2 Way Data Binding</h3>
<form (submit)="pushIntoUsers()">
  <input type="text" [(ngModel)]="name" name="name" placeholder="Your Name">
  <br><br>
  <input type="number" [(ngModel)]="age" name="age" placeholder="Your Age">
  <br><br>
  <input type="submit" value="Send">
</form>
<div class="block"><b>Name:</b> {{ name }}</div>
<div class="block"><b>Age:</b> {{ age }}</div>

<div [ngClass]="theFrame">
  <ul>
    <li *ngFor="let user of users">
    {{ user.name }} {{ user.age }}
    </li>
  </ul>
</div>

<h3>Template Driven Forms & Validation</h3>
<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="block">
    <input
      type="text"
      placeholder="Your name"
      name="name"
      [(ngModel)]="people.name"
      #userName="ngModel"
      required
      minlength="2"
    >
    <div class="invalid-value"
      *ngIf="userName.errors?.minlength && userName.touched"
    >
      Name should be at least 2 characters
    </div>
  </div>
  <div class="block">
    <input
    type="text"
    placeholder="Email"
    name="email"
    [(ngModel)]="people.email"
    #userEmail="ngModel"
    required
    email
    >
    <div class="invalid-value"
      *ngIf="userEmail.errors?.email && userEmail.touched"
    >
      Email isn't correct
    </div>
  </div>
  <div class="block">
    <input
      type="text"
      placeholder="phone"
      name="phone"
      [(ngModel)]="people.phone"
      #userPhone="ngModel"
      minlength="10"
    >
    <div class="invalid-value"
      *ngIf="userPhone.errors?.minlength && userPhone.touched">
      incorrect
    </div>
  </div>
  <ng-template
    [ngIf]="
      !userName.errors && userName.touched &&
      !userEmail.errors && userEmail.touched &&
      !userPhone.errors && userPhone.touched
  ">
    {{ changeButtonValue() }}
  </ng-template>
  <div class="block">
    <input [disabled]="submitButtonIsHidden" type="submit" value="Send the data">
  </div>
</form>
<ul [ngClass]="theFrame">
  <li *ngFor="let client of clients">
    {{ client.name }} :: {{ client.email }} :: {{ client.phone }}
  </li>
</ul>
